:root {
    --light-goldenrod-yellow: #f2f6d0ff;
    --honeydew: #d0e1d4ff;
    --bone: #d9d2b6ff;
    --windsor-tan: #9f602dff;
    --sage: #AAAE7F;
}

body {
    background-color: var(--sage);
    font-family: "Goudy Bookletter 1911", "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2 ,h3 {
    color: var(--windsor-tan);
}

.container {
    background-color: var(--bone);
    max-width: 960px;
    margin: 20px auto;
    padding: 10px 20px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.header .cover {
    align-self: flex-end;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }