<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title$</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.6.1/sql-wasm.js" integrity="sha512-14M7CqWNUr6fzrgs9ncNWKdBtLu69HwEWq7J3/dPMUL+za3fBRLJvK6egAu4SSlxCM1apqsbVJHArGLl5fjldw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>

    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/index.js"></script>
    <script async src="https://ackee.cyg.us/tracker.js" data-ackee-server="https://ackee.cyg.us" data-ackee-domain-id="d363a7b8-acdc-4bdb-8f1f-9563d5eb49d6"></script>
</head>
<body>
    <div class="container">
        $body$
    </div>
    <div class="container">
        <table id="book_list" class="display">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Finished reading</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody id="book_table_body">

            </tbody>
        </table>
    </div>
</body>
</html>