<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title$</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.6.1/sql-wasm.js" integrity="sha512-14M7CqWNUr6fzrgs9ncNWKdBtLu69HwEWq7J3/dPMUL+za3fBRLJvK6egAu4SSlxCM1apqsbVJHArGLl5fjldw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    <script async src="https://ackee.cyg.us/tracker.js" data-ackee-server="https://ackee.cyg.us" data-ackee-domain-id="d363a7b8-acdc-4bdb-8f1f-9563d5eb49d6"></script>
</head>
<body>
    $if(openlibrary_id)$
    <div class="container">
        <div class="header">
            <span><h1>$title$</h1> <h3>by $authors$</h3></span>
            <span class="cover"><img onerror="this.style.display='none'" ="/assets/covers/$openlibrary_cover_edition_id$.jpg" /></span>
        </div>
    </div>
    $endif$
    <div class="container">
        $body$
    </div>
</body>
</html>